/* src/JsonEditor.css */
:root {
  --bg: #ffffff;
  --text: #222;
  --input-bg: #f9f9f9;
  --btn-bg: #007bff;
  --btn-text: white;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f5f5f5;
  --input-bg: #1f1f1f;
  --btn-bg: #333;
  --btn-text: #eee;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
  font-family: system-ui, sans-serif;
}

.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 50%;
  max-width: 700px;
  border-radius: 12px;

  background: var(--bg);
  color: var(--text);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s;
  margin: 0 auto;
  padding: 1rem;
}


h2 {
  color: #333;
  color: var(--text);

}

.json-input {
  width: 100%;
  height: 350px;
  margin-top: 15px;
  font-family: monospace;
  font-size: 14px;
  background: var(--input-bg);
  color: var(--text);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  resize: vertical;
  transition: border-color 0.3s;
}

.json-input:focus {
  border-color: royalblue;
}

.button-group {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

button,
.upload-btn {
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease;

}

button:hover,
.upload-btn:hover {
  background: navy;
  opacity: 0.9;
}

.clear-btn {
  background: gray;
}

.clear-btn:hover {
  background: #333;
}


.json-output {
  background: var(--input-bg);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  overflow: auto;
  font-family: monospace;
  max-height: 300px;
  white-space: pre-wrap;
}



.output-section {
  text-align: left;
  margin-top: 20px;
  width: 100%;

}

.output-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-btn {
  background: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 6px;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  
}

.copy-btn:hover {
  opacity: 0.9;
}

.success-msg {
  color: green;
  margin-top: 10px;
  font-weight: 600;

}

.error-msg {
  color: red;
  margin-top: 10px;
  font-weight: 600;
}

.file-info {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text);
  text-align: left;
  width: 100%;
}

.file-info strong {
  color: royalblue;
}

.status {
  font-weight: 600;
  margin-left: 6px;
}

.status.success {
  color: green;
}

.status.error {
  color: red;
}
.delete-btn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: #d9363e;
}
